@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #181818;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}

.nav-item div {
  @apply opacity-80 transition-all duration-75;
}

.nav-item div:hover {
  @apply opacity-100 cursor-pointer translate-x-[2px];
}

.nav-item div img {
  width: 12px;
  height: 12px;
}

.nav-item div:hover a {
  @apply text-neutral-100;
}

.app {
  @apply flex;
}

.nav-item a {
  @apply text-neutral-400;
}

.app a:hover {
  @apply text-neutral-100;
}

.primary h1 {
  @apply text-4xl text-neutral-200 mb-2 font-bold;
}

.primary h2 {
  @apply text-2xl text-neutral-400 font-light mt-8 mb-4;
}

hr {
  @apply my-2 border-none;
}

.page-button {
  @apply transition-all duration-200;
}

.page-button:hover {
  @apply border-blue-100;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.blur-overlay {
  background: rgb(26, 26, 26);
  border: 1px solid #353535;
}

.ProseMirror-focused {
  outline: none;
}

.ProseMirror p.is-empty::before {
  color: #aaa;
  font-style: italic;
}

.tiptap {
  font-family: "Inter", sans-serif;
}

u {
  text-decoration: underline;
}

.button-group {
  @apply flex border border-[#333333] rounded-2xl overflow-hidden w-full justify-between;
}

.button-group button {
  @apply p-6 grow border-y border-transparent transition-all duration-75;
}

.button-group button.is-active {
  @apply border-y border-[#54cdd6];
}

.button-group button:hover {
  @apply bg-[#222222];
}

.tiptap p {
  @apply text-neutral-200 my-4;
}

.tiptap h1 {
  @apply text-4xl font-semibold my-4;
}

.tiptap h2 {
  @apply text-3xl font-semibold my-4;
}

.tiptap h3 {
  @apply text-2xl font-semibold my-4;
}

.tiptap h4 {
  @apply text-xl font-semibold my-4;
}

.tiptap h5 {
  @apply text-4xl font-semibold my-4;
}

.tiptap blockquote {
  @apply my-4 px-8 py-2 border-l;
}

.tiptap ul {

}

.tiptap li {
  @apply list-disc pl-6;
}

.tiptap {
  @apply my-8;
}

.ProseMirror ul {
  list-style-type: disc;  /* Bullet points */
  margin-left: 1.5em;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal !important;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

.ProseMirror li {
  display: list-item;
  list-style-position: outside; /* or inside, if you prefer */
}

.ProseMirror hr {
  @apply my-4 h-[2px] bg-[#222222];
}

.control-group button.text-color {
  @apply border rounded-lg w-[100px] transition-all duration-200;
}

.control-group button.text-color.isActive {
  border: 10px solid red;
}

* {
}


@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* TipTap’s editable area styling */
.ProseMirror {
  padding: 0;
  overflow-y: auto;
}

/* Optionally, style each block’s text */
.tiptap p {
}

.block {
  @apply  gap-0;
}

.block-content {
  margin: 0;
  padding: 0;
}

.sortable-item {
  @apply  m-0 p-0 h-[48px];
}

.default-table {
  @apply my-8
}

.default-table td {
  @apply p-4;
}

.default-table tr {
  @apply w-full border border-[#222222] border-t-0;
}

.default-table thead {
  @apply bg-[#222222] border-t border-[#222222];
}

.table-link {
}

.table-link:hover {
  @apply text-blue-400 underline cursor-pointer;
}

.comments-table td:nth-child(1) {
  @apply w-2/3;
}

.comments-table td:nth-child(2) {
  @apply w-1/6;
}

.comments-table td:nth-child(3) {
  @apply w-1/6;
}

.table-keybinds {

}

.table-keybinds thead {
  @apply bg-[#333333] rounded-lg;
}

.table-keybinds td {
  @apply px-6 py-2;
}

.table-keybinds td {
  text-align: left;
}